*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "chalk", sans-serif;
  background-image: url(./assets/chalkboarbg.jpg);
  background-attachment: fixed;
  background-position: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
:root {
  --cell-size: 100px;
  --mark-size: calc(var(--cell-size) * 0.9);
}
.newGame {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}
.newGame_content {
  background-color: #fefefe;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin: 15% auto;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #888;
  width: 80%;
}
h2 {
  margin-top: -5px;
  text-align: center;
  font-size: 5rem;
  margin-bottom: 0;
}
.exit {
  height: 3rem;
  width: 3rem;
  position: absolute;
  top: 5px;
  right: 5px;
}
.chooseTurn {
  display: flex;
  justify-content: center;
}
#OTurn:hover,
#XTurn:hover,
#exitModal:hover {
  transform: scale(1.2);
}
.turns {
  max-height: 10rem;
  max-width: 10rem;
}
.title {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3rem;
  color: white;
}
h1 {
  font-size: 3rem;
  margin-bottom: 5px;
}
h3 {
  margin: 0;
}
#Xpoints,
#Opoints {
  font-size: 2rem;
}
#Xpoints {
  color: rgb(11, 11, 80);
}
#Opoints {
  color: maroon;
}
.board {
  /* width: 100vw;
  height: 100vh; */
  display: grid;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(3, auto);
}
.controls {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 2rem;
}
.optionsbtns {
  height: 5rem;
  width: 5rem;
}
#localRestart:hover,
#redo:hover {
  animation: rotate-90-cw 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
#undo:hover {
  animation: rotate-90-ccw 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
/* box */
.cell {
  width: var(--cell-size);
  height: var(--cell-size);
  border: 3px solid rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.cell.circle::before,
.cell.circle::after {
  background-color: maroon;
}
.cell.x::before,
.cell.x::after {
  background-color: rgb(11, 11, 80);
}

.cell.x,
.cell.circle {
  cursor: not-allowed;
}
.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
  border-top: none;
}

.cell:nth-child(3n + 1) {
  border-left: none;
}

.cell:nth-child(3n + 3) {
  border-right: none;
}

.cell:last-child,
.cell:nth-child(8),
.cell:nth-child(7) {
  border-bottom: none;
}
.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after {
  background-color: lightblue;
}
.board.circle .cell:not(.x):not(.circle):hover::before,
.board.circle .cell:not(.x):not(.circle):hover::after {
  background-color: orchid;
}

.cell.x::before,
.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after {
  position: absolute;
  content: " ";
  width: calc(var(--mark-size) * 0.15);
  height: var(--mark-size);
}

.cell.x::before,
.board.x .cell:not(.x):not(.circle):hover::before {
  transform: rotate(45deg);
}

.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::after {
  transform: rotate(-45deg);
}

.cell.circle::before,
.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::before,
.board.circle .cell:not(.x):not(.circle):hover::after {
  position: absolute;
  content: " ";
  border-radius: 50%;
}

.cell.circle::before,
.board.circle .cell:not(.x):not(.circle):hover::before {
  width: var(--mark-size);
  height: var(--mark-size);
}

.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::after {
  width: calc(var(--mark-size) * 0.7);
  height: calc(var(--mark-size) * 0.7);
  background-color: white;
}

.winning-message {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.9);
  justify-content: center;
  align-items: center;
  color: aliceblue;
  font-size: 5rem;
  flex-direction: column;
}

.winning-message button {
  font-size: 3rem;
  background-color: antiquewhite;
  border: 1px solid black;
  padding: 0.25em 0.5em;
  cursor: pointer;
}

.winning-message button:hover {
  background-color: black;
  border-color: white;
  color: antiquewhite;
}

.winning-message.show {
  display: flex;
}

@keyframes rotate-90-cw {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(90deg);
  }
}

@keyframes rotate-90-ccw {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(-90deg);
  }
}
@font-face {
  font-family: "chalk";
  src: url("./assets/chalktastic-font/Chalktastic-x1nR.ttf") format("truetype");
}
