*,
*::after,
*::before {
  box-sizing: border-box;
  overflow: hidden;
  cursor: default;
}

body {
  margin: 0;
  font-family: "chalk", sans-serif;
  background-image: url(./assets/chalkboarbg.jpg);
  background-attachment: fixed;
  background-position: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
:root {
  --tile-size: 100px;
  --mark-size: calc(var(--tile-size) * 0.9);
}
.newGame {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.newGame_content {
  background-color: #fefefe;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin: 15% auto;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #888;
  width: 60%;
}
h2 {
  margin-top: -5px;
  text-align: center;
  font-size: 5rem;
  margin-bottom: 0;
}
.exit {
  height: 3rem;
  width: 3rem;
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}
.chooseTurn {
  display: flex;
  justify-content: center;
}
#openWinModal:hover,
#OTurn:hover,
#XTurn:hover,
.exit:hover {
  transform: scale(1.2);
  cursor: pointer;
}
.turns {
  max-height: 10rem;
  max-width: 10rem;
}
.title {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
  color: white;
}
h1 {
  margin-top: 0;
  font-size: 3rem;
  margin-bottom: 5px;
}
h3 {
  margin: 0;
}
#Xpoints,
#Opoints {
  font-size: 2rem;
}
#Xpoints {
  color: rgb(11, 11, 80);
}
#Opoints {
  color: maroon;
}
.board {
  display: grid;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(3, auto);
}
.controls {
  display: grid;
  grid-template-columns: 5rem 5rem 5rem;
  grid-template-areas: "undo restart redo";
  justify-content: center;
  width: 100%;
  margin-top: 2rem;
}
#undo {
  grid-area: undo;
}
#hardRestart {
  grid-area: restart;
}
#redo {
  grid-area: redo;
}

.optionsbtns {
  height: 5rem;
  width: 5rem;
  cursor: pointer;
}
#hardRestart:hover,
#redo:hover {
  animation: rotate-90-cw 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
#undo:hover {
  animation: rotate-90-ccw 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
#redo,
#undo {
  display: none;
}

.tile {
  width: var(--tile-size);
  height: var(--tile-size);
  border: 3px solid rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.tile.circle::before,
.tile.circle::after {
  background-color: maroon;
}
.tile.x::before,
.tile.x::after {
  background-color: rgb(11, 11, 80);
}

.tile.x,
.tile.circle {
  cursor: not-allowed;
}
.tile:first-child,
.tile:nth-child(2),
.tile:nth-child(3) {
  border-top: none;
}

.tile:nth-child(3n + 1) {
  border-left: none;
}

.tile:nth-child(3n + 3) {
  border-right: none;
}

.tile:last-child,
.tile:nth-child(8),
.tile:nth-child(7) {
  border-bottom: none;
}
.board.x .tile:not(.x):not(.circle):hover::before,
.board.x .tile:not(.x):not(.circle):hover::after {
  background-color: lightblue;
}
.board.circle .tile:not(.x):not(.circle):hover::before,
.board.circle .tile:not(.x):not(.circle):hover::after {
  background-color: orchid;
}

.tile.x::before,
.tile.x::after,
.board.x .tile:not(.x):not(.circle):hover::before,
.board.x .tile:not(.x):not(.circle):hover::after {
  position: absolute;
  content: " ";
  width: calc(var(--mark-size) * 0.15);
  height: var(--mark-size);
}

.tile.x::before,
.board.x .tile:not(.x):not(.circle):hover::before {
  transform: rotate(45deg);
}

.tile.x::after,
.board.x .tile:not(.x):not(.circle):hover::after {
  transform: rotate(-45deg);
}

.tile.circle::before,
.tile.circle::after,
.board.circle .tile:not(.x):not(.circle):hover::before,
.board.circle .tile:not(.x):not(.circle):hover::after {
  position: absolute;
  content: " ";
  border-radius: 50%;
}

.tile.circle::before,
.board.circle .tile:not(.x):not(.circle):hover::before {
  width: var(--mark-size);
  height: var(--mark-size);
}

.tile.circle::after,
.board.circle .tile:not(.x):not(.circle):hover::after {
  width: calc(var(--mark-size) * 0.7);
  height: calc(var(--mark-size) * 0.7);
  background-color: white;
}

.winning-message {
  background-color: #fefefe;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  margin: 15% auto;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #888;
  width: 50%;
  height: 25%;
}

.winModalContainer {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.playerWin {
  font-size: 4rem;
  margin-bottom: 30px;
}
#restartButton {
  font-size: 1rem;
  text-align: center;
  align-self: center;
  cursor: pointer;
  width: 80%;
}

#restartButton:hover {
  background-color: black;
  border-color: white;
  color: antiquewhite;
  border-radius: 25px;
}

.winModalContainer.show {
  display: flex;
}
.Xwins {
  color: rgb(11, 11, 80);
}
.Owins {
  color: maroon;
}
#openWinModal {
  display: none;
  font-size: 3rem;
  align-self: center;
  text-align: center;
  color: antiquewhite;
  padding: 15px;
  width: 100%;
  cursor: pointer;
}
@keyframes rotate-90-cw {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(90deg);
  }
}

@keyframes rotate-90-ccw {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(-90deg);
  }
}
@font-face {
  font-family: "chalk";
  src: url("./assets/chalktastic-font/Chalktastic-x1nR.ttf") format("truetype");
}
