* {
  margin: 0;
  padding: 0;
}
body {
  overflow: hidden;
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}
h1 {
  text-align: center;
  margin-top: 2%;
  margin-bottom: 2%;
  font-family: "WindSong", cursive;
  grid-area: title;
}
.numbers {
  display: grid;
  flex-direction: column;
  align-items: center;
  font-size: 3vw;
  flex-wrap: wrap;
  grid-template-columns: auto;
  grid-template-rows: repeat(8, 4.5rem);
  grid-template-areas:
    "n1 board board board board board board board"
    "n2 board board board board board board board"
    "n3 board board board board board board board"
    "n4 board board board board board board board"
    "n5 board board board board board board board"
    "n6 board board board board board board board"
    "n7 board board board board board board board"
    "n8 board board board board board board board";
  grid-area: num;
}
#n1,
#n2,
#n3,
#n4,
#n5,
#n6,
#n7,
#n8 {
  padding-right: 15px;
}

.chessboard-container {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.chessboard {
  display: grid;
  grid-template-columns: repeat(8, 4.5rem);
  grid-template-rows: repeat(8, 4.5rem);
  background-image: url("https://5.imimg.com/data5/RD/TI/NG/SELLER-7557867/synchronized-textured-board-500x500.png");
  border: 4px solid black;
  border-radius: 3px;
  box-shadow: 13px 9px 13px 0px rgba(0, 0, 0, 0.64);
  -webkit-box-shadow: 13px 9px 13px 0px rgba(0, 0, 0, 0.64);
  -moz-box-shadow: 13px 9px 13px 0px rgba(0, 0, 0, 0.64);

  align-self: start;
}
.place-box {
  font-size: 3rem;
  text-align: center;
}

.light-box {
  background-color: rgba(228, 231, 25, 0);
}
.dark-box:hover,
.light-box:hover {
  border: 3px solid black;
  -webkit-animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1)
    both;
  animation: scale-up-center 0.1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
.white-piece:hover,
.black-piece:hover {
  -webkit-animation-name: wobble;
  animation-name: wobble;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.light-box {
  background-color: rgba(222, 184, 135, 0.158);
}
.dark-box {
  background-color: #0e0e0e65;
}
.white-piece {
  color: rgb(250, 250, 250);
}

#n1 {
  grid-area: n1;
}

#n2 {
  grid-area: n2;
}
#n3 {
  grid-area: n3;
}
#n4 {
  grid-area: n4;
}
#n5 {
  grid-area: n5;
}
#n6 {
  grid-area: n6;
}
#n7 {
  grid-area: n7;
}
#n8 {
  grid-area: n8;
}

@-webkit-keyframes wobble {
  0% {
    -webkit-transform: none;
    transform: none;
  }
  15% {
    -webkit-transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
    transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
  }
  30% {
    -webkit-transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
    transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
  }
  45% {
    -webkit-transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
    transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
  }
  60% {
    -webkit-transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
    transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
  }
  75% {
    -webkit-transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
    transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
  }
  100% {
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes wobble {
  0% {
    -webkit-transform: none;
    transform: none;
  }
  15% {
    -webkit-transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
    transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
  }
  30% {
    -webkit-transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
    transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
  }
  45% {
    -webkit-transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
    transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
  }
  60% {
    -webkit-transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
    transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
  }
  75% {
    -webkit-transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
    transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
  }
  100% {
    -webkit-transform: none;
    transform: none;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2021-8-8 22:8:10
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
