* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}

h1,
.chess-board {
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  /* border: 5px solid black; */
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
  min-width: 4vw;
  min-height: 4vw;
  max-height: 500px;
  margin: 0 auto;
  max-width: 500px;
}

.place-box {
  border: 1px solid rgb(39, 39, 39);
  margin: -2px;
  min-width: 5vw;
  min-height: 5vw;
  max-height: 101%;
  max-width: 101%;
  justify-content: center;
  display: flex;
  align-items: center;
}
.light-box {
  flex: 1;
  background-color: rgb(105, 199, 92);
}
.dark-box {
  background-color: #0e0e0e83;
  flex: 1;
}
.row {
  display: flex;
  flex: 1;
  flex-direction: row;
  height: 3.5rem;
  width: 3.5rem;
}
.white-piece {
  color: aliceblue;
}
p {
  font-size: 3vw;
  margin: 0;
}
