* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
.banner {
  position: relative;
  background-image: url(./assets/bg2.svg);
  background-size: 100% auto;
  height: 50vw;
  width: auto;
  background-attachment: fixed;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  width: 100%;
  z-index: 10;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 88%,
    rgba(239, 238, 157, 0) 100%
  );
}
.logo {
  display: flex;
  width: 20px;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
}
.cs {
  color: #3b8234;
  padding-right: 5px;
}
.seeds {
  color: #9c7216;
}
.icon {
  height: 29px;
  width: 29px;
}
.right-header {
  display: flex;
  justify-content: space-around;
  margin-right: 15px;
}
.nav-link,
.icon {
  margin-right: 15px;
}
.nav-link {
  text-decoration: none;
  color: rgb(0, 0, 0);

  font-size: 25px;
}
.logo-tag-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
#header-img {
  height: 200px;
  width: 250px;
}
.banner-tag p {
  color: #423c52;
  text-align: center;
  text-shadow: 4px 2px 3px #b59b00;
}

a {
  text-decoration: none;
}
.nav-link,
H3,
h4,
H1,
H2,
a,
label {
  font-family: "Open Sans", sans-serif;
}
H1 {
  font-size: 35px;
}

.left-header {
  display: flex;
  justify-content: space-around;
  margin-left: 15px;
  align-items: center;
}
.certifications {
  display: flex;
  justify-content: space-around;
  align-items: space-around;
}
.cert-logo {
  height: 10rem;
  width: 10rem;
}
.cert-logo:hover {
  transform: rotate(0) scale(1.8) translateZ(0);
}

.green-section {
  background-color: #ecf5f9;
}
.vid-caption-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 30px;
}
.video-caption {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 50%;
  color: #423c52;
}
.video-caption H3 {
  padding-bottom: 15px;
  font-size: 4rem;
  color: rgb(29, 29, 29);
}
.video-caption h4 {
  font-size: 2rem;
  color: grey;
}
.video-caption p {
  font-size: 1.2rem;
}

.items-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 2rem;
}
.items-title {
  font-size: 45px;
  margin-right: 12px;
  font-family: "Open Sans", sans-serif;
  text-decoration: bold;
}
.items-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
  margin-bottom: 3.5rem;
}
.items {
  display: flex;
  height: 18rem;
  width: 18rem;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 5px;
  margin: 1rem;
  background-color: white;
  box-shadow: 8px 9px 5px 0px rgba(54, 54, 54, 0.75);
  -webkit-box-shadow: 8px 9px 5px 0px rgba(54, 54, 54, 0.75);
  -moz-box-shadow: 8px 9px 5px 0px rgba(54, 54, 54, 0.75);
}
.items img {
  height: 14rem;
  width: 15rem;
}
.items:hover {
  transform: rotate(0) scale(1.4) translateZ(0);
  box-shadow: 8px 9px 5px 0px rgba(54, 54, 54, 0.75);
  -webkit-box-shadow: 8px 9px 5px 0px rgba(54, 54, 54, 0.75);
  -moz-box-shadow: 8px 9px 5px 0px rgba(54, 54, 54, 0.75);
}
.alter-color {
  background-color: #e5f1ef;
}
.Growth-gallery {
  padding-top: 15px;
  background: rgb(255, 255, 255);
  margin-bottom: 55px;
  height: 26rem;
}
.Rev-cell {
  display: flex;
  flex-direction: column;
  width: 20%;
  min-height: 80%;
  max-width: fit-content;
  margin: 25px;
  text-align: center;
  border-radius: 10px;
  font-size: 1rem;
}
.carousel-cell {
  width: 66%;
  height: auto;
  margin-right: 5px;
  border-radius: 10px;
}

.carousel-cell img {
  width: 66%;
  height: auto;
  max-height: 418px;
}

h2 {
  color: #484848;
  font-size: 50px;
  font-weight: bold;
  font-family: monospace;
  letter-spacing: 7px;
  cursor: pointer;
}
.Reviews {
  width: 100%;
  min-height: fit-content;
}
.comment {
  font-family: "Georama", sans-serif;
}
.name {
  font-family: "Georama", sans-serif;
  font-style: italic;
  text-decoration: bold;
  padding-bottom: 15px;
}
.banner-tag {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: "Hahmlet", serif;
  font-size: 25px;
}
.banner-decor {
  width: 100%;
  height: 5rem;
  background-color: #ecf5f9;
  clip-path: polygon(0 0, 100% 100%, 100% 100%, 0% 100%);
  margin-bottom: -1px;
}
.OCD h2 span {
  transition: 3s linear;
}
.OCD h2:hover span:nth-child(1) {
  margin-right: 5px;
}
.OCD h2:hover span:nth-child(1):after {
  content: "BSESSIVE   ";
}
.OCD h2:hover span:nth-child(2):after {
  content: "ACTUS    ";
}
.OCD h2:hover span:nth-child(3):after {
  content: "ISORDER";
}
.OCD h2:hover span:nth-child(3) {
  margin-left: 15px;
}
.OCD h2:hover span {
  color: #907b00;
  text-shadow: 0 0 10px #bfd6d2, 0 0 20px #bfd6d2, 0 0 40px #bfd6d2;
}
.layer-title {
  padding-top: 15px;
  font-size: 2rem;
  text-align: center;
  font-family: "Georama", sans-serif;
  text-decoration: bold;
}
.footer {
  background-color: #262322;
  display: flex;
  justify-content: space-around;
  padding: 100px;
  clip-path: polygon(0 0, 100% 13%, 100% 100%, 0% 100%);
}
.footer-layer1 {
  display: flex;
  justify-content: space-around;
}
.footer-links a {
  text-decoration: none;
  color: #ecf5f9;
  padding-bottom: 15px;
}
.nav-link:hover {
  color: #b59b00;
}
.footer-links a:hover {
  color: #484848;
}
#email-label {
  color: #e5f1ef;
  font-size: 20px;
  padding-bottom: 10px;
}
#submit-container {
  background-color: #262322;
  border: 3px solid #e5f1ef;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
#email-textbox {
  background-color: #262322;
  color: #e5f1ef;
  font-size: 15px;
  border: 0;
}
.submit-btn {
  background-color: #262322;
  font-size: 12px;
  color: #e5f1ef;
  border: 1px;
}
.submit-btn:hover {
  color: white;
  transform: scale(1.8);
}
.column {
  display: flex;
  flex-direction: column;
}

.readmore {
  border-radius: 4px;
  background-color: inherit;
  border: none;
  color: #535353;
  text-align: center;
  font-size: 15px;
  padding: 15px;
  transition: all 0.5s;
  cursor: pointer;
  margin-bottom: 15px;
}
.readmore:hover {
  background: rgb(0, 0, 0);
  color: #ecf5f9;
}

.readmore span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.readmore span:after {
  content: ">";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.readmore:hover span {
  padding-right: 15px;
}

.readmore:hover span:after {
  opacity: 1;
  right: 0;
}
hr {
  height: 1px;
  width: 100%;
  margin: 35px;
  background-color: #e5f1ef;
}

#footer-text {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ecf5f9;
}
.colored-box {
  background-color: #d9dbdf;
}
.footer-link-container {
  display: flex;
  width: 35%;
  justify-content: space-between;
}
.burger {
  visibility: hidden;
  color: black;
  height: 2rem;
  width: 2rem;
}

@media screen and (max-width: 800px) {
  .left-header,
  .nav-link {
    display: none;
  }
  .logo {
    padding-left: 15px;
  }
  .banner {
    box-shadow: inset 0 0 0 2000px rgba(255, 255, 255, 0.527);
  }
  .vid-caption-container {
    flex-direction: column;
    align-items: stretch;
  }
  .video-container {
    align-self: center;
  }
  .video-caption p {
    text-align: justify;
  }
  .video-caption {
    width: fit-content;
  }
  .items-header {
    flex-direction: column;
    align-items: center;
  }
  .OCD h2 {
    display: flex;
    flex-direction: column;
  }
  .Growth-gallery {
    height: fit-content;
  }
  .footer-layer1 {
    flex-direction: column;
  }
  hr {
    visibility: hidden;
    margin-left: 0;
    margin-right: 0;
  }
  .footer-link-container {
    width: 90%;
    justify-content: space-around;
    margin-bottom: 30px;
  }
  .burger {
    visibility: visible;
  }
}
